/* nav related style */
/* nav ar vitore hrader and ul k ak line a niye ashar jonno display flex korte hobe */
nav {
    display: flex;
    /* nav and ul li gula ar duta dui side a pathaiya dilam */
    justify-content: space-between;
    /* align-item center dilemary and buttom vartikali ba row soman hobe */
   align-items: center;
   /* ul ba  li gulakeo align-item center diye thik korte hobe*/
   margin: 0 200px;
}

/* nav ul gukao ek line a niye ashar jonno display flex korte hobe */
nav ul {
    display: flex;
    color: thistle;
    /* nav ul gula son row thik korte align-item: center */
    align-items: center;

}

/* button primary dile jodi same kisu use kori tahle button primary dilei hobe */
.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20PX;
    font-weight: 700X;
    padding: 15PX 35PX;
}

/* nav li lekhlei hobe ar ekahen sei gular kaj kora jabe */
nav ul li {

    padding-left: 10px;


    list-style: none;

}

.nav-title {
    color: rgb(14, 14, 15);
    font-size: 100PX;
    font-size: 30px;
    font-weight: 700;
}

/* mary ar r rad korar jonno spam tag use kore class use korchi */
.text-r {
    color: red;
}

/* i */
.primary-button{
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 20px 35px;
   font-size: 20;
    font-weight: 100px;
}

/* header related style  */
.header{
    background-color: #FFF8F3;
    /* ekhame picture ar nice je background thakbe seat korbo  */
    background-image: url(../image/bg1.jpg);
    /* jodi img ta repert hoy seta off kortehobe */
    background-repeat: no-repeat;
    /* img ta nice and right a dite hobe */
    background-position: bottom right;
}

/*  */
.banner{
    /*  */
    padding: 50px 30px 0px 150px;
    /* div ar img ta pasa pasi niye ashar jonno display flex */
    display: flex;
    /* banner div and img soman korte align item center */
    align-items: center;
    /*  */
    justify-content: space-between;
}
/*  */
.banner .profile-pic{
    width: 300px;

}

/* banner-greting  */
.banner-greting{
    /* font-size: 45px; */
    color: #FD6E0A;
    /* margin bottom 0 */
    margin: bottom 0;
}
.banner-title{
    /* font-size: 85px;
    font-weight: 70px; */
    /* margin-top: 0px; */
}
.banner-pra{
    margin-top: 5px;
}
.banner-content{
    /* banner ta jate kom hoy tahle div ar text and img dui saite a kora jabe*/
    max-width: 500px;
}
/* .main section styles. */

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

/* serction title */
.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
/*  */
.section-description{
    color: #FD6E0A;
    /* text gula maje nite text size  */
    text-align: center;
    font-size: 10px;
    
}